header {
  position: fixed;
  width: 100%;
  z-index: 1020;
  background: #fff;
  top: 0;
  height:123px;
}

header .logo {
  padding-bottom: 8px;
  padding-top: 4px;
}

header .logo .img-responsive {
  width: 115px;
  height: 61px;
  display: inline-block;
}

body {
  margin-top: 123px;
}