@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
  height: 100%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1020;
  background: #fff;
  top: 0;
  height:123px;
  font-family: 'Montserrat', sans-serif;
}

header .logo {
  padding-bottom: 8px;
  padding-top: 4px;
}

header .logo .img-responsive {
  width: 115px;
  height: 61px;
  display: inline-block;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 123px;
  background: #f1f1f1;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.content #leftContent {
  padding-left:;
}

.content #rightContent {
  padding-right:;
}

.navbar {
  background: #003087;
}

.nav.navbar-nav.navbar-right li a {
  color:#748bbb;
}

.nav.navbar-nav.navbar-right .navbar-visted {
  color:white;
}

.nav.navbar-nav.navbar-right .navbar-current {
  border-bottom: 5px solid white;
  padding-bottom: 10px;
}

.nav.navbar-nav.navbar-right .navbar-disabled {
  pointer-events: none;
  cursor: default;
}

.sidebar {
  height:100%;
  background: #d9d9d9;
}

#rightContent {
  height:100%;
}

.fullcontainer {
  height:100%;
}

.rowcontainer {
  height:100%;
}