<div ng-include="'header.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-8 clearfix" id="leftContent">
      <div class="jumbotron">
        <h1>{{yourinfo.customer.name}}</h1>
      </div>

      <form ng-submit="yourinfo.saveInfo()">

        <div class="col-md-6 col-sm-12">
          <input type="text" placeholder="First name" ng-model="yourinfo.customer.firstName">
          <input type="text" placeholder="Last name" ng-model="yourinfo.customer.lastName">
        </div>

        <div class="col-md-6 col-sm-12">
          <input type="text" placeholder="Residential Address" ng-model="yourinfo.customer.address">
          <input type="text" placeholder="Apartment # (optional)" ng-model="yourinfo.customer.apartmentno">
          <input type="text" placeholder="City" ng-model="yourinfo.customer.city">
          <input type="text" placeholder="State" ng-model="yourinfo.customer.state">
          <input type="text" placeholder="Zip Code" ng-model="yourinfo.customer.zipcode">
        </div>


        <button type="submit" class="btn btn-primary btn-md" ng-click="yourinfo.saveInfo()">Start Quote</button>
      </form>
    </div>

    <div class="col-md-4 visible-md visible-lg" id="rightContent">
      <div data-ng-include="'sidebar.html'"></div>
    </div>
  </div>
</div>